{% extends 'base.html' %}


{% block head %}
<title>Login Form</title>
{% endblock %}


{% block body %}
    <div class="container"> 
        <h1>Login Form</h1>
    </div>
    <br>
    <br>
    <div class="container">
        <!-- Think I want the /login page to take in the username and password and so will switch-->  
        <!--<form id = 'formRegister' action = "http://127.0.0.1:5000//login" method="post">-->
        <form id = 'formRegister' action = "{{ login }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
    
            <label for="password">Password:</label>
            <input type="password" id="password_show" name="password_show" required>
            <input style = "display: none;" type="password" id="password" name="password">
            <input type="submit" value="Login">
        </form>
        <p> Not registred? <a href="{{ register_page }}">Click to Register!</a></p>
    </div>
    <script> 
        function md5hash(){
            var passwordInput = document.getElementById('password_show');
            // Use this passwordInput.value; because. We only get the DOM element and not it's valeu
            var password = passwordInput.value;
            // Calculate MD5 hash
            var hash = CryptoJS.MD5(password);
            // Set the hashed password as the input value, this works since we're in the dom model.
            let password_hash = document.getElementById('password')
            password_hash.value = hash;
        }

        //gets the form and runs hashing function on click of the submit button
        var form = document.getElementById('formRegister')
        form.addEventListener('submit', md5hash);
    </script>
{% endblock %}
