{% extends 'base.html' %}

{% block head %}
    <title>Registering</title>
{% endblock %}

{% block body %}
    <form id = 'formRegister' action="{{ register }}" method = 'post'>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="check">Type Password again:</label>
        <input type="password" id="Check" name="check" required>
        
        <input type="submit" value="Register">
    </form>

    <script> 
        function md5hash(){
            var passwordInput = document.getElementById('password');
            var checkInput = document.getElementById('check');
            // Use this passwordInput.value; because. We only get the DOM element and not it's valeu
            var password = passwordInput.value;
            var check = checkInput.value;
            // Calculate MD5 hash
            var hash = CryptoJS.MD5(password);
            var hash2 = CryptoJS.MD5(check);
            // Set the hashed password as the input value, this works since we're in the dom model.
            passwordInput.value = hash;
            checkInput = hash2;
        }

        //gets the form and runs hashing function on click of the submit button
        var form = document.getElementById('formRegister')
        form.addEventListener('submit', md5hash);
    </script>
{% endblock %}
