<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>Text Sending</title>
        <!--<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
		    <link rel="stylesheet" href="../static/styles/index.css">
        <style>
          canvas {
              border:1px solid #d3d3d3;
              background-color: #f1f1f1;
          }
        </style>
    </head>
    <body>
        <div class="container" style="position: relative; left: 00px; top: 00px;" >
            <label>Receiving</label>
            <textarea id = "receive-text" rows="4" cols="50">
            </textarea>
        </div>
        <div class="container" style="position: relative; left: 00px; top: 00px;" >
            <label>Sending</label>
            <textarea id = "send-text" rows="4" cols="50">
            </textarea>
        </div>
        <div>
            <button id = "dft_join">click to join default room</button>
            <button id = "send-button">send text</button>
            <button id = "start-game">start game</button>
        </div>
        <div>
          <button id = "simulate-receive">simulate receving text</button>
        </div>
        <div>
          <label id = "message">new information</label>
        </div>
        <script>            
            var server_addr = "http://localhost:5000";
            var socket = null;
            var heartbeatTimer = null;
            var label_message = document.getElementById('message');
            const state = {
              connected: false
            };
            function label_msg(message){
              var label_message = document.getElementById('message');
              label_message.innerHTML  = message;
            }
            function send_heart(){
                // 设置心跳间隔时间
                let heartbeatInterval = 2000; // 2秒
                // 发送心跳请求
                heartbeatTimer = setInterval(() => {
                  socket.emit('heart', { msg: 'heart',
                      username: "yao tang",
                      room: roomId
                    })}
                    , heartbeatInterval);
            }
            //apply for join room
            function join(){
                socket = io.connect(server_addr);
                socket.on('connect_error', function(error) {
                  label_msg("connect error!");
                  console.error('Failed to connect:', error);
                  socket.close();
                });
                socket.on('connect-success', function(data) {
                    label_msg("connect sucess!");
                    state.connected = true;
                    socket.emit('join', 
                    { msg: 'I want to join the room',
                      username: "yao tang",
                      room: roomId
                    });
                    socket.on('join-success',function(data){
                      label_msg("join success!")
                      socket.on('message',onReceiveText);
                      //send_heart()
                    });
                })
            }
            
            function sendText(){
                if(state.connected == false){
                    label_message.setText("please make long connect to server!")
                    return;
                }
                var textarea = document.getElementById('send-text');
                var inputValue = textarea.value;
      
                //create the json to be sent as socketio only
                //receive json message
                var message = {
                  msg: 'text message',
                  username: "yao tang",
                  room: roomId,
                  text: inputValue
                };
                socket.emit('message', message);
            }

            function onReceiveText(data){
              var textarea = document.getElementById('receive-text');
              var text = data["text"]
              textarea.innerText = text;
            }
            

            /**** these are for add listeners ****/
            var textarea = document.getElementById('send-text');
            textarea.addEventListener('keydown', function(event) {
              if (event.target === textarea) { 
                if (event.keyCode === 13) {
                  event.preventDefault();
                  sendText()
                }
              }
            });

            var bt = document.getElementById('dft_join');
            bt.addEventListener("click", join);
            var bt2 = document.getElementById('send-button');
            bt2.addEventListener("click", sendText);
            var bt3 = document.getElementById('simulate-receive');
            bt3.addEventListener("click", function(){
              text = textarea.value;
              onReceiveText(text);
            } )

            ////////////////////////////////game///////////////////////////////
            //keys process 
            var keyState = {};
            document.addEventListener("keypress", function(event) {
              keyState[event.key] = true;
              console.log("key_down")
            });
            document.addEventListener("keyup", function(event) {
              keyState[event.key] = false;
              console.log("key_up")
            });
            function isKeyDown(key) {
              return keyState[key] == true;
            }

            var roomId = 0
            var player = {
              x:0,
              y:0,
              color:'red',
              state:0 //0:dead 1:alive
            }
            var playerId = null
            var actors = [];
            var myScore;
            var myGameArea = {
                game_started : false,
                canvas : document.createElement("canvas"),
                start : function() {
                    this.canvas.width = 480;
                    this.canvas.height = 270;
                    this.context = this.canvas.getContext("2d");
                    document.body.insertBefore(this.canvas, document.body.childNodes[0]);
                    this.frameNo = 0;
                    //this.interval = setInterval(updateGameArea, 20);
                    this.width = 10
                    this.height = 10
                    this.color = 'red'
                    },
                clear : function() {
                    this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
                },
                renderAllElements:function(){
                  ctx = this.context;
                  ctx.fillStyle = this.color;
                  ctx.fillRect(50, 50, this.width, this.height);
                  for(let i= 0; i< actors.length;++i){
                      if(actors[i]["state"] == true){
                          this.renderActor(actors[i])
                      }
                  }
                },
                renderActor: function(actor){
                  ctx = this.context;
                  ctx.fillStyle = this.color;
                  if(actor["type"]=='player'){
                    ctx.fillStyle = 'green'
                  }
                  ctx.fillRect(actor["x"], actor["y"], this.width, this.height);
                }
            }
            function startGame() {
                myGameArea.start();
                socket.emit('join-game', 
                    { msg: 'join-game',
                      username: "yao tang",
                      room: roomId
                    });
                    socket.on('join-game-success',function(data){
                      label_msg("join-game-success")
                      playerId = data['id']
                      myGameArea.game_started = true
                      socket.on('game',onGameRecevie);
                      
                      

                      var intervalId = setInterval(function(){
                        let msg = {
                            username: "yao tang",
                            room: roomId,  //rooms are fixed number,
                            cmds:{ 
                              name:'yao tang',
                              type:'move',
                              id:playerId,
                              dx:0,
                              dy:0,
                            }
                          };
                        let d = 10;
                        if(isKeyDown('w')){
                          msg.cmds.dy = -d
                        }
                        if(isKeyDown('s')){
                          msg.cmds.dy = d
                        }
                        if(isKeyDown('a')){
                          msg.cmds.dx = -d
                        }
                        if(isKeyDown('d')){
                          msg.cmds.dx = d
                        }
                        socket.emit('game-msg', msg);

                      }, 1000/30);
                      
                    });

                
            }

            function onGameRecevie(data){
              //update game states
              const myArray = JSON.parse(data);
              myGameArea.clear();
              myGameArea.frameNo += 1;
              for(let i = 0; i < myArray.length; ++i){
                const actor = myArray[i];
                let id = actor["id"];
                let type = actor["type"];
                actors[id] = actor;
              }
              //render
              myGameArea.renderAllElements();
            }

            var bt = document.getElementById('start-game');
                bt.addEventListener("click", startGame);
            

        </script>
    </body>
</html>